
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

body{
	font-family: 'Raleway', sans-serif;
}

.hero{
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	opacity:1;
}





